.component-container {
  background-color: $color-white;
  padding: 20px;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0px 0px 8px 1px $color-gray;
  width: calc(100% - 70px);
  height: calc(100% - 130px);
  overflow-y: auto;
}
